<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Room Service Request</title>
</head>
<body style="background-color: #eaf7ff; font-family: sans-serif;">
<h2 style="text-align:center;">Add Room Service Request</h2>
<form th:action="@{/room-service/save}" method="post" th:object="${request}" style="width: 300px; margin: auto;">
    <label>Description:</label>
    <input type="text" th:field="*{description}" required/><br/><br/>
    <label>Status:</label>
    <input type="text" th:field="*{status}" required/><br/><br/>
    <label>Room Number:</label>
    <input type="text" th:field="*{roomNumber}" required/><br/><br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>
